body {
   background-color: #98cdb3;
}

#container{
    text-align: center;
    margin-top: 50px;
    font-family: Calibri;
}

h1 {
  font-size: 40px;  
}

h2 {
  font-size: 30px;  
}

#questions, #answer {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0px;
}

button {
    background-color: #428a67;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    margin-bottom: 30px;
}

